* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}

.item {
    background: lightblue;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    padding: 10px;
    flex-basis: 30%;
}

p {
    font-size: 18px;
}

.item-1 {
    align-self: flex-start;
}

.item-2 {
    align-self: flex-end;
}

.item-3 {
    align-self: center;
}